.Home .top {
  padding: 25vh 0;
}

.Home .top .wrapper {
  width: 640px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.Home .top .wrapper .prefix {
  font-size: 110px;
  color: var(--primary-color);
  margin: 0;
  text-align: left;
}

.Home .top .wrapper .suffix {
  font-size: 140px;
  text-align: right;
  margin: 0;
  color: #54130F;
  font-family: Alex Brush;
}

.Home .mid {
  background-color: #D9D9D9;
  padding: 10vh 0;
}

.Home .mid .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.Home .mid .wrapper {
  word-break: break-word;
}

.Home .bottom {
  padding: 10vh 0;
  text-align: center;
}

.Home .bottom .wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .Home .top .wrapper {
    width: unset;
  }

  .Home .top {
    padding: 15vh 0;
  }

  .Home .top .wrapper .prefix {
    font-size: 80px;
  }

  .Home .top .wrapper .suffix {
    font-size: 110px;
  }
}