.Button {
  display: inline-block;
}

.Button button {
  font-size: 16px;
  padding: 6px 20px;
  border-radius: 5px;
  border-color: var(--primary-color);
  border-style: solid;
  outline: 0;
  min-width: 175px;
  cursor: pointer;
}

.Button:active {
  transform: translateY(1px);
}

.Button .primary {
  color: white;
  background-color: var(--primary-color);
}

.Button .primary:active {
  background-color: rgb(150, 32, 26);
}

.Button .outline {
  color: var(--primary-color);
  background-color: white;
}

.Button .outline:active {
  background-color:lightgray;
}