.ButtonBanner {
  position: absolute;
  right: 0;
  height: 100%;
  text-orientation: sideways-right;

  background: transparent;
  text-align: center;
  cursor: pointer;
  border-style: none;
}

.ButtonBanner img {
  display: block;
  transform: rotate(-90deg);
  width: 60px;
  margin-bottom: 25px;
}

.ButtonBanner:active {
  transform: translateY(1px);
}

.ButtonBanner:focus {
  outline: 0;
}

.ButtonBanner:hover {
  background-color: rgba(146, 59, 53, 0.1);
}

.ButtonBanner .text {
  margin: 0;
}