.FundraiseForm {
  
}

.FundraiseForm .form {
  text-align: left;
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.FundraiseForm .form .Input,
.FundraiseForm .form .Textarea {
  margin-bottom: 20px;
}

.FundraiseForm .form .button {
  text-align: center;
  padding-top: 20px;
}