.Header {
  padding: 22px 60px;
  display: flex;
  border-bottom: #F8F8F8 solid;
}

.Header .title {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 28px;
}

.Header .title:visited {
  color: var(--primary-color);
}

.Header .left {
  flex-grow: 1;
  text-align: left;
}

.Header .right {
  flex-grow: 1;
  text-align: right;
}

.Header .right .about {
  text-decoration: none;
  color: var(--primary-color);
  margin-right: 30px;
}

.Header .right .help {
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .Header .right .pledge,
  .Header .right .about {
    display: none;
  }

  .Header {
    padding: 10px;
  }

  .Header .right .help {
    margin: 0;
  }

  .Header .right button {
    padding-left: 0;
    padding-right: 0;
  }
}