.Input {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 10px;
  border-style: none;
  width: 100%;
  box-sizing: border-box;
}

.Input:focus {
  outline: 0;
}

.Input-border {
  border-color: var(--primary-color);
  border-style: solid;
  border-width: thin;
}
