.PledgeHeader {
  background-color: rgba(146, 59, 53, 0.25);
  position: relative;
}

.PledgeHeader .wrapper {
  padding: 30px 15px 0 15px;
  max-width: 1400px;
  margin: 0 auto;
}

.PledgeHeader .arrow-banner {
  width: 100%;
  background: transparent;
  margin-top: 20px;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  border-style: none;
}

.PledgeHeader .arrow-banner:active {
  transform: translateY(1px);
}

.PledgeHeader .arrow-banner:focus {
  outline: 0;
}

.PledgeHeader .arrow-banner img {
  width: 66px;
}

.PledgeHeader .arrow-banner:hover {
  background-color: rgba(146, 59, 53, 0.1);
}

.PledgeHeader .title > * {
  display: inline-block;
  vertical-align: middle;
}

.PledgeHeader .title .badge {
  margin-right: 20px;
}

.PledgeHeader .title .badge img {
  height: 94px;
}

.PledgeHeader .donation-card {
  max-width: 756px;
  margin: 0 auto;
}

.PledgeHeader .donation-title {
  text-align: center;
}

.PledgeHeader .description {
  word-break: break-word;
  text-align: center;
}

.PledgeHeader .donation-progress {
  display: flex;
}

.PledgeHeader .donation-progress .bar {
  background-color: white;
  border-radius: 5px;
  height: 20px;
}

.PledgeHeader .donation-progress .bar-wrapper {
  flex-grow: 1;
}

.PledgeHeader .donation-progress .bar-inner {
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 5px;
}

.PledgeHeader .donation-progress .bar-stats {
  display: flex;
}

.PledgeHeader .donation-progress .bar-stats > * {
  flex-grow: 1;
  text-align: center;
  font-size: 14px;
  margin-top: 2px;
  color: #656565;
}

.PledgeHeader .donation-progress .total {
  flex-grow: 0;
  padding-left: 27px;
  padding-right: 5px;
  color: #3E3F48;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .PledgeHeader .wrapper .title .badge {
    margin: 0;
  }

  .PledgeHeader .wrapper .arrow-banner img {
    width: 33px;
  }
}